In [36]:
import pandas as pd

In [37]:
import requests

In [38]:
from bs4 import BeautifulSoup

In [39]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
    "Accept-Language": "en-US,en;q=0.9",
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8",
    "Referer": "https://www.google.com/",
    "Connection": "keep-alive",
}


webpage=requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=1',headers=headers).text

In [105]:
soup = BeautifulSoup(webpage, 'lxml')

In [50]:
len(soup.find_all('h2'))

21

In [42]:
for i in soup.find_all('h2'):
    print(i.text.strip())

Companies in India
TCS
Accenture
Wipro
Cognizant
Capgemini
HDFC Bank
Infosys
ICICI Bank
HCLTech
Tech Mahindra
Genpact
Teleperformance
Axis Bank
Jio
Concentrix Corporation
Amazon
iEnergizer
Reliance Retail
IBM
LTIMindtree

In [43]:
len(soup.find_all('div',class_='rating_text')) 
for i in soup.find_all('div',class_='rating_text'):
    print(i.text.strip())

3.4
3.7
3.6
3.7
3.7
3.8
3.5
4.0
3.4
3.4
3.6
3.8
3.6
4.3
3.6
3.9
4.6
3.9
3.9
3.6

In [34]:
soup.find_all('span',class_='companyCardWrapper__ActionCount')[0].text
for i in soup.find_all('span',class_='companyCardWrapper__ActionCount'):
    print(i.text.strip())

1.1L
9.6L
11.7k
2.4k
10.6k
87
69.9k
6.4L
9k
40.3k
6.7k
48
62.2k
4.7L
6.4k
6.5k
4.6k
99
59.2k
5.9L
6.2k
934
5.5k
82
50.8k
4.7L
5.3k
2.2k
3.6k
41
49.5k
1.5L
2.8k
246
3.2k
72
46.5k
5.1L
8.2k
3.1k
4.8k
117
44.6k
1.5L
2.8k
31
3.7k
70
43.7k
3.7L
4.4k
325
3.8k
63
41.7k
2.8L
4.4k
493
3.4k
79
40.1k
2.3L
3.7k
312
3.5k
63
35.9k
95.1k
2.1k
1.3k
1.8k
38
31.7k
1L
1.8k
251
2.1k
120
31.1k
62.2k
3.3k
9
2.5k
81
31.1k
1.3L
1.9k
78
3.1k
66
30.2k
1.4L
5.7k
1.4k
4.1k
88
27.3k
23.8k
961
60
430
28
26.6k
73.5k
1.9k
25
1.9k
129
25.1k
2.1L
2.6k
3.3k
2.6k
23
24.8k
1.9L
3.2k
519
775
34

In [52]:

soup.find_all('span',class_='companyCardWrapper__ActionCount')[0].text
for i in soup.find_all('span',class_='companyCardWrapper__ActionCount'):
    print(i.text.strip())

1.1L
9.6L
11.7k
2.2k
10.6k
87
70k
6.4L
9k
37.5k
6.7k
48
62.2k
4.7L
6.4k
6.5k
4.6k
99
59.2k
5.9L
6.2k
890
5.5k
82
50.8k
4.7L
5.3k
2.2k
3.6k
41
49.5k
1.5L
2.8k
210
3.2k
72
46.5k
5.1L
8.2k
3k
4.8k
117
44.6k
1.5L
2.8k
31
3.7k
70
43.7k
3.7L
4.4k
309
3.8k
63
41.8k
2.8L
4.4k
477
3.4k
79
40.1k
2.3L
3.7k
306
3.5k
63
35.9k
95k
2.1k
1.3k
1.8k
38
31.7k
1L
1.8k
238
2.1k
120
31.1k
62.2k
3.3k
3
2.5k
81
31.1k
1.3L
1.9k
81
3.1k
66
30.2k
1.4L
5.7k
1.4k
4.1k
88
27.3k
23.8k
961
55
430
28
26.6k
73.7k
1.9k
20
1.9k
129
25.1k
2.1L
2.6k
3.3k
2.6k
23
24.8k
1.9L
3.2k
513
775
34

In [53]:
len(soup.find_all('span',class_='companyCardWrapper__ActionCount'))

120

In [59]:
comp=(soup.find_all('div', class_='companyCardWrapper'))

In [103]:
name=[]
rating=[]
review=[]
salary=[]
interview=[]
jobs=[]
benefits=[]
photo=[]

for i in comp:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('div', class_='rating_text').text.strip())
    counts = i.find_all('span', class_='companyCardWrapper__ActionCount')

    review.append(counts[0].text.strip())
    salary.append(counts[1].text.strip())
    interview.append(counts[2].text.strip())
    jobs.append(counts[3].text.strip() )
    benefits.append(counts[4].text.strip())
    photo.append(counts[5].text.strip())

df={'name':name,'rating':rating,'review':review,'salary':salary,'interview':interview,'jobs':jobs,'benefits':benefits,'photo':photo}

d=pd.DataFrame(df)

In [114]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

final = pd.DataFrame()

for j in range(1, 150):   # <-- fixed colon
    
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
        "Accept-Language": "en-US,en;q=0.9",
        "Referer": "https://www.google.com/",
    }

    url = f'https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={j}'
    webpage = requests.get(url, headers=headers).text
    soup = BeautifulSoup(webpage, 'lxml')

    comp = soup.find_all('div', class_='companyCardWrapper')   # <-- REQUIRED

    name=[]
    rating=[]
    review=[]
    salary=[]
    interview=[]
    jobs=[]
    benefits=[]
    photo=[]

    for i in comp:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('div', class_='rating_text').text.strip())

        counts = i.find_all('span', class_='companyCardWrapper__ActionCount')

        review.append(counts[0].text.strip())
        salary.append(counts[1].text.strip())
        interview.append(counts[2].text.strip())
        jobs.append(counts[3].text.strip())
        benefits.append(counts[4].text.strip())
        photo.append(counts[5].text.strip())

    df = pd.DataFrame({
        'name': name,
        'rating': rating,
        'review': review,
        'salary': salary,
        'interview': interview,
        'jobs': jobs,
        'benefits': benefits,
        'photo': photo
    })

    final = pd.concat([final, df], ignore_index=True)

In [115]:
final

,name,rating,review,salary,interview,jobs,benefits,photo
0,TCS,3.4,1.1L,9.6L,11.7k,2.1k,10.6k,87
1,Accenture,3.7,70k,6.4L,9k,36.5k,6.7k,48
2,Wipro,3.6,62.2k,4.7L,6.4k,6.4k,4.6k,99
3,Cognizant,3.7,59.2k,5.9L,6.2k,869,5.5k,82
4,Capgemini,3.7,50.8k,4.7L,5.3k,2k,3.6k,41
...,...,...,...,...,...,...,...,...
2975,Apcer Life Sciences,3.5,355,1.3k,23,--,21,9
2976,Hollister Medical,4.0,355,1.1k,24,17,40,--
2977,Gupta Power Infrastructure,3.0,354,1.3k,12,--,36,--
2978,Medall Healthcare,3.5,354,1.1k,6,3,29,2
2979,PowerSchool India,3.5,354,2.7k,45,4,29,1